</div>
<footer>
    <div class="footer-padding"></div>
    <div class="footer">
        <p style="color:lightslategrey;">IIP Project Fall Semester 2020-21</p>
    </div>
</footer>
</div>
</body>

</html>