<%- include('partials/header') %>
</head>
<body>
  <div class="jumbotron">
    <h1>How to Reach Us?</h1>
    <h6>Contact us kmcmspn oin ion ioieihvndhfgreuenfh  dvvd cueiwowpqp;aq njvvuee eenfivirjfl;v,x.ss ssnndhdhd</h6>
  </div>
<%- include('partials/footer') %>
