<%- include('partials/header') %>
</head>
<body>
  <div class="bg">
  </div>
  <div class="p-3 mb-2 bg-dark text-white cover" id="Welcome">
    <h1>Welcome to the Virtual Queue Software</h1>
    <h4>Helping you to create a hassle free experience!</h4>
    <a role="button" class="btn btn-light but-text" href="/login">Login</a>
    <a role="button" class="btn btn-light but-text" href="/signup">SignUp</a>
  </div>
  <%- include('partials/footer') %>
