<%- include('partials/header') %>
</head>
<body>
<div class="jumbotron">
<h1>About Us !</h1>
<h6>We are a virtual queuing system for people who use ration shops, in order to avoid being in crowds. In this system, we generate token for the users/customers, and they can come to their nearby ration shop based on the given date and time.</h6>
</div>
<%- include('partials/footer') %>
