<%- include('partials/header') %>
</head>
<body>
<div class="jumbotron">
<h1>About Us !</h1>
<h6>We are a akjfbv;aofinvfaokivndasnfvi oifvn ;dobivo;irdbfiorebvr;eoibv;iorbv;iare;aoibvkdnlvknsdfinvibvsioboiboidb/skvi</h6>
</div>
<%- include('partials/footer') %>
