<%- include('partials/header') %>
</head>
<body>
  <div class="jumbotron">
    <h1>How to Reach Us?</h1>
    <h6>Contact us via Facebook, Twitter, LinkedIn and Instagaram!</h6>
    <h6>Facebook: VirQue</h6>
    <h6>LinkedIn: VirQue</h6>
    <h6>Instagarm: @virquw</h6>
  </div>
<%- include('partials/footer') %>
