<%- include('partials/header') %>
</head>
<body>
<div class="jumbotron">
<h1>Welcome to the VirQue !</h1>
<h6>Helping you create a hassle free experience. Choose a shop and a slot. Make sure you carry your ID proof with you</h6>
</div>
<%- include('partials/footer') %>
