<%- include('partials/header') %>
</head>
<body class="text-centre">
  <form action="/login" method="post" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal" id="signtext">Login</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="number"  name="num" class="form-control top" placeholder="Phone Number" required autofocus>
      <input type="password"  name="password" class="form-control middle" placeholder="Password" required >
      <div class="">
          <button type="submit" name="button" class="btn btn-dark formbutton">Submit</button>
      </div>
      </form>
