<%- include('partials/header') %>
<div class="main title">
  <h1>Slot Selection</h1>
  <h4>Enter name of the shop</h4>
<div class="slotselect">
  <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" name="Search" role="button" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
        </div>
      </div>
</div>
</div>
