<%- include('partials/header') -%>

    <body>
        <div class="main title">
            <h1>Slot Selection</h1>
            <h4>Enter Location </h4>
            <div class="slotselect">
                <div class="container h-100">
                    <div class="d-flex justify-content-center h-100">
                        <form action="/slot" method="post" class="form-signin p-4" style="padding:0px;">
                            <!-- <h1 class="h3 mb-3 font-weight-normal" id="signtext">SignUp</h1> -->
                            <input type="text" name="search" class="form-control middle mt-4" placeholder="Enter Location" required>
                            <div class="mt-4">
                                <button type="submit" name="button" class="btn btn-dark mx-2">Submit</button>
                                <button id="backbtn" class="btn btn-dark mx-2" onclick="history.back(-1)">Back</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%- include('partials/footer') %>