<%- include('partials/header') %>
</head>
<body>
<div class="jumbotron">
<h1>Thank you for shopping with us!</h1>
<h5> Stay Safe Stay Strong!</h5>
<a role="button" class="btn btn-dark but-text erbut" href="/login">SignOut/Exit</a>
</div>
<embed src="/report.pdf" type="application/pdf"   height="300px" width="100%">
<a href="/report.pdf">download</a>

<%- include('partials/footer') %>
