<%- include('partials/header') %>
    </head>

    <body>
        <div class="jumbotron">
            <h1>Thank you for shopping with us!</h1>
            <h5> Stay Safe Stay Strong!</h5>
            <div class="mt-4">
                <a role="button" class="btn btn-dark but-text mx-2" href="/login">SignOut/Exit</a>
                <button id="backbtn" class="btn btn-dark mx-2" onclick="history.back(-1)">Back</button>
            </div>
        </div>
        <a id="downloadreport" href="/report.pdf">Not downloading? Click here.</a>
        <!-- <form action="/report-template" method="POST">
            <button class="btn" type="submit">view</button>
        </form> -->
        <script>
            $(document).ready(function() {
                $("#downloadreport").click();
            })
        </script>
        <%- include('partials/footer') %>